a.hshare-large img {
    width: 25px;
    height: 25px;
}

a.hshare-medium img {
    width: 20px;
    height: 20px;
}

a.hshare-small img {
    width: 15px;
    height: 15px;
}

a.hshare {
    color: black;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
}