a.hshare-large {
    height: 25px;
    line-height: 25px;
    font-size: 25px;
}

a.hshare-large img {
    width: 25px;
    height: 25px;
}

a.hshare-medium {
    height: 20px;
    line-height: 20px;
    font-size: 20px;
}

a.hshare-medium img {
    width: 20px;
    height: 20px;
}

a.hshare-small {
    height: 15px;
    line-height: 15px;
    font-size: 15px;
}

a.hshare-small img {
    width: 15px;
    height: 15px;
}

a.hshare {
    color: black;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
}